#header {

  padding: @spaced 0;
  position: relative;
  z-index: 99;
  overflow: hidden;
  background-color: @white;
  box-shadow: 0 -@spaced*2 @spaced*2 fade(@black25, 4%);

  &__mission {

    .accentFont();
    color: @darkBlue;
    line-height: 1.4;
    position: relative;

    &-wrapper {
      position: relative;
    }

    @media @min {
      .font_size(24);
    }
    @media @tablet {
      .font_size(32);
    }
    @media @desktop {
      .font_size(42);
    }
  }

  &--logo {
    margin: 0;
    font-weight: 700;
    color: @mainColor;
  }

  &-navigation {

    a {
      color: @darkBlue;
    }

    @media @min {
      text-align: left;
    }

    @media @tablet {
      text-align: right;
    }

  }

}